{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
{{#if featured}}
<article class="featured">
    <header class="post-header featured">
        <h2 class="post-title featured"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <div class="post-meta">
        {{author}} | 
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MM/DD/YYYY"}}</time>
    </div>
    <section class="post-excerpt">
        <p>{{excerpt words="100"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
</article>
{{/if}}
{{/foreach}}
