{{!< default}}

{{! The main content area on the homepage }}
<main id="content" class="content issues" role="main">

    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
          {{#foreach publish_years}}
             <a class="year-tab" href="{{@blog.url}}/issues/{{this}}">{{this}}</a>
          {{/foreach}}
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="row issues-box">
                {{#foreach issues}}
                <div class="issue-wrapper">
                    <div class="issue">
                        <a class="issue-title" href="{{url}}">{{title}}</a>
                        <div class="issue-img"></div>
                    </div>
                </div>
                {{/foreach}}
            </div>
        </div>
    </div>

</main>
