{{!< default}}

{{! The main content area on the homepage }}
<main id="content" class="content issues" role="main">

    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
          {{#foreach publish_years}}
             <a class="year-tab" href="{{@blog.url}}/issues/{{this}}">{{this}}</a>
          {{/foreach}}
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="row issues-box">
                <header class="post-header">
                    <h1 class="post-title">{{title}}</h1>
                    <section class="post-meta">
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
                    </section>
                </header>
                <section class="post-content">
                  {{#issue}}
                  <ul>
                    {{#foreach articles}}
                    <li>
                      <a href="{{@blog.url}}/article/{{slug}}">{{title}}</a>
                    </li>
                    {{/foreach}}
                  </ul>
                  <a href="{{@blur.url}}/issues/">Back To Issue List</a>
                  {{/issue}}

                  {{#current_article}}
                    <section class="post-content">
                      {{content}}
                    </section>

                    <footer class="post-footer">

                    {{! Everything inside the #author tags pulls data from the author }}
                    {{#author}}

                        {{#if image}}
                        <figure class="author-image">
                            <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                        </figure>
                        {{/if}}

                        <section class="author">
                            <h4><a href="{{url}}">{{name}}</a></h4>

                            {{#if bio}}
                                <p>{{bio}}</p>
                            {{else}}
                                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                            {{/if}}
                            <div class="author-meta">
                                {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                                {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                            </div>
                        </section>

                    {{/author}}
                  {{/current_article}}
                </section>
            </div>
        </div>
    </div>

</main>
